@import "../global";
@import "admin_global";
@import "../modules/modal";

.notification {
  height: 100%;
  margin-bottom: 10px;
  overflow: hidden;

  .header {
    .notification_navigation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  .email {
    box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    border-radius: 7px;
    overflow-y: auto;
    width: 100%;
    display: flex;
    height: 90%;
    position: relative;

    .folders {
      display: none;
    }

    .list {
      width: 100%;

      .mobile {
        box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
          background: $primary;
          padding: 5px;
          border-radius: 100px;
          color: $white;
        }

        #close_preview {
          margin-left: auto;
          background: transparent;
          border: none;
          display: none;

          svg {
            background: $secondary;
          }
        }
      }

      .mail {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        box-shadow: rgba(145, 158, 171, 0.3) 0px 0px;

        &.unread,
        &:hover {
         background: rgba(59, 104, 171, 0.1)
        }

        .checkbox {
          width: 20px;
          margin-right: 10px;

          input[type='checkbox'] {
            display: none;
          }

          label {
            position: relative;
            &::before {
              content: '';
              display: block;
              width: 18px;
              height: 18px;
              border: 1px solid $border-color;
            }
          }

          input[type="checkbox"]:checked +label {
            &::before {
              background: $primary;
              border-color: $primary;
            }
            &::after {
              position: absolute;
              content: '';
              display: block;
              width: 7px;
              height: 14px;
              border-top: 2px solid $white;
              border-left: 2px solid $white;
              transform: rotate(230deg) scale(.7);
              top: 0;
              left: 5px;
            }
          }
        }


        .content {
          width: calc(100% - 30px);

          .sender {
            font-weight: $font-bold;
            font-size: 18px;
          }

          .object {
            font-style: italic;
            font-size: 16px;
          }

          .date {
            margin-top: 10px;
            color: $grey;
            font-size: 16px;
          }
        }
      }
    }

    .preview {
      position: absolute;
      width: 100%;
      padding: 20px;
      top: 40px;
      right: 0;
      background: $white;
      height: calc(100% - 40px);
      overflow-y: auto;
      transition: .2s all ease-in;
      transform: translateX(100%);
      z-index: 11;

      &.open {
        transform: translateX(0);
      }

      .head {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        margin-bottom: 20px;

        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
        }

        .btn {
          padding: 6px 8px;

          svg {
            height: 12px;
          }
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
          font-weight: $font-bold;
          font-size: 18px;
        }

        h4 {
          font-size: 16px;
        }

        .object {
          font-style: italic;
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
}

