@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 300;
}

a {
  color: #5798EF;
  text-decoration: none;
  font-size: 14px;
}

.h1_title {
  color: #222;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}

.h2 {
  color: #3B68AB;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}

.h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

.h4 {
  font-size: 20px;
}

.bold {
  font-weight: 500;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}
.control.required label::after {
  content: "*";
  color: #E64320;
  margin-left: 3px;
}
.control.error .note.error {
  color: #E64320;
}
.control.error input {
  border-color: #E64320;
  background: rgba(230, 67, 32, 0.1);
}
.control.date_input {
  flex-wrap: wrap;
  flex-direction: initial;
  gap: 10px;
}
.control.date_input label {
  width: 100%;
  text-align: left;
}
.control.date_input input {
  width: calc(50% - 10px);
}
.control.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.control.checkbox label {
  margin: 0;
}
.control.checkbox input {
  margin-right: 5px;
}
.control label {
  font-size: 14px;
  margin-bottom: 5px;
}
.control input, .control textarea {
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #B4B4B4;
  font-size: 14px;
}
.control input[readonly], .control textarea[readonly] {
  background: #f4f3f3;
  cursor: not-allowed;
  pointer-events: none;
}
.control .note {
  margin-top: 5px;
}

.light {
  color: #ffffff;
}

.section_container {
  padding: 50px 20px;
  width: 100%;
}

.tabs_container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.tabs_container .tab_navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.tabs_container .tab_navigation .tablinks {
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  transition: 0.3s all;
}
.tabs_container .tab_navigation .tablinks.active, .tabs_container .tab_navigation .tablinks:hover {
  font-weight: 500;
  border-color: #E64320;
  cursor: pointer;
}
.tabs_container .tabs_overflow {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 180px;
}
.tabs_container .tabs_overflow .tabcontent {
  width: 100%;
  display: none;
  font-size: 16px;
}
.tabs_container .tabs_overflow .tabcontent.active {
  display: block;
}

ul {
  list-style: none;
}

button.btn,
button.btn.swal2-confirm,
a.btn {
  background: transparent;
  border: 1px solid #3B68AB;
  color: #3B68AB;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  padding: 9px 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn:hover, button.btn.active,
button.btn.swal2-confirm:hover,
button.btn.swal2-confirm.active,
a.btn:hover,
a.btn.active {
  background: #3B68AB;
  color: #ffffff;
}
button.btn svg,
button.btn.swal2-confirm svg,
a.btn svg {
  width: 15px;
  margin-right: 7px;
}

body, html {
  height: 100vh;
  width: 100%;
}

body {
  padding-top: 90px;
}
body.swal2-height-auto {
  height: 100% !important;
}

body::before {
  content: "";
  display: block;
  height: calc(100% - 80px);
  width: 100%;
  background: rgba(34, 34, 34, 0.1882352941);
  backdrop-filter: blur(6px);
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: -100%;
}

body.menu_open .open_menu_icon {
  display: none;
}
body.menu_open .close_menu_icon {
  display: block;
}
body.menu_open:before {
  left: 0;
  animation: fadeInOpacity 0.3s;
}

@keyframes fadeInOpacity {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navigation {
  position: fixed;
  height: 80px;
  padding: 10px;
  width: 100%;
  background: white;
  box-shadow: -1px 2px 14px 0px rgba(34, 34, 34, 0.1882352941);
  z-index: 1000;
  top: 0;
}
.navigation .mobile_menu, .navigation .more {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #5798EF;
  cursor: pointer;
}
.navigation .close_menu_icon {
  display: none;
}
.navigation .more {
  right: 10px;
  left: initial;
  background: #3B68AB;
  padding: 5px 3px;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .more svg {
  width: 18px;
}
.navigation .logo, .navigation .logo img {
  height: 100%;
  text-align: center;
}
.navigation #user {
  position: fixed;
  top: 40px;
  right: 5%;
  background: white;
  width: 90%;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  box-shadow: -1px 2px 14px 0px rgba(34, 34, 34, 0.1882352941);
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}
.navigation #user.open {
  animation: display_user 0.2s ease-in forwards;
}
.navigation #user.close {
  animation: hide_user 0.2s ease-in forwards;
}
@keyframes display_user {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(40%);
  }
}
@keyframes hide_user {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(40%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.navigation #user .logout {
  background: #E64320;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.navigation #user .logout svg {
  width: 15px;
  height: 15px;
}

.navigation_container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background: #ffffff;
  top: 0;
  padding-top: 90px;
  z-index: 999;
  left: -100%;
  transition: 0.3s all;
}
.navigation_container.open {
  left: 0;
}
.navigation_container li {
  margin: 20px 0;
}
.navigation_container li a {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-weight: "Sofia Sans", sans-serif;
}
.navigation_container li a svg {
  margin-right: 10px;
}
.navigation_container li.active a {
  font-weight: 500;
  color: #3B68AB;
}

.admin_section {
  padding: 10px;
  max-width: 1300px;
  margin: 0 auto;
}
.admin_section .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.admin_section .header h1 {
  text-transform: uppercase;
  color: #222;
  font-weight: 500;
}
.admin_section .header .btn {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    padding-left: 115px;
    padding-top: 65px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    left: 0;
    height: 60px;
  }
  .navigation .more,
  .navigation .mobile_menu {
    display: none;
  }
  .navigation #user {
    padding: 0;
    position: relative;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    background: none;
    top: initial;
    right: initial;
    transform: initial;
    width: auto;
  }
  .navigation #user > * {
    margin: 0 5px;
  }
  .navigation_container {
    left: 0;
    bottom: 0;
    width: 110px;
    top: initial;
    height: calc(100% - 60px);
    border-right: 1px solid rgba(180, 180, 180, 0.5);
    justify-content: start;
    padding: 15px 0 0;
  }
  .navigation_container li {
    width: 100%;
    margin: 5px 0;
  }
  .navigation_container li.active, .navigation_container li a:hover {
    background: #3B68AB;
    color: #ffffff;
    font-weight: 500;
  }
  .navigation_container li.active a, .navigation_container li a:hover a {
    color: #ffffff;
  }
  .navigation_container li a {
    padding: 20px 0;
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    transition: 0.1s all ease-in-out;
  }
  .navigation_container li a svg {
    margin-right: 0;
    margin-bottom: 5px;
    height: 12px;
  }
}
.modal_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal_container .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(59, 104, 171, 0.2);
  backdrop-filter: blur(2px);
}
.modal_container .modal {
  z-index: 2;
  background: #ffffff;
  box-shadow: -1px 2px 14px 0px rgba(34, 34, 34, 0.1882352941);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 650px;
}
.modal_container .modal_close {
  background: transparent;
  border: none;
  color: #222;
  cursor: pointer;
}
.modal_container .modal_header, .modal_container .modal_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.modal_container .modal_content {
  margin: 20px 0;
  width: 90%;
}
.modal_container .modal_footer {
  justify-content: flex-end;
}
.modal_container .modal_footer .btn_cancel {
  background: transparent;
  border: 1px solid #E64320;
  color: #E64320;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  padding: 9px 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.modal_container .modal_footer .btn_cancel:hover, .modal_container .modal_footer .btn_cancel.active {
  background: #E64320;
  color: #ffffff;
}
.modal_container .modal_footer .btn_cancel svg {
  width: 15px;
  margin-right: 7px;
}
.modal_container .modal_footer .btn_confirm {
  background: transparent;
  border: 1px solid #3B68AB;
  color: #3B68AB;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  padding: 9px 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_container .modal_footer .btn_confirm:hover, .modal_container .modal_footer .btn_confirm.active {
  background: #3B68AB;
  color: #ffffff;
}
.modal_container .modal_footer .btn_confirm svg {
  width: 15px;
  margin-right: 7px;
}
.modal_container .modal_title {
  font-weight: 500;
  text-transform: uppercase;
  color: #222;
}

.profile {
  height: 100%;
}

@media only screen and (min-width: 490px) {
  .profile .header {
    height: 30%;
    position: relative;
  }
  .profile .header .banner {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .profile .header .pic {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
  }
  .profile .tabs_container .tab_navigation {
    justify-content: flex-start;
  }
  .profile .tabs_container .tab_navigation li {
    margin-right: 20px;
  }
  .profile .tabs_container .tab_navigation li button {
    text-transform: capitalize;
  }
  .profile .tabs_container .tab_navigation li:hover button,
  .profile .tabs_container .tab_navigation li button.active {
    border-color: transparent;
    color: #3B68AB;
  }
}

/*# sourceMappingURL=profile.css.map */
