@import "global";

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('../../images/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.connexion {
  background: $white;
  height: 50%;
  width: 80%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: -1px 2px 6px 4px #2222224C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 20px;

  .logo {
    width: 30%;
    position: absolute;
    top: 40px;
  }

  .btn {
    width: 120px;
  }
}
