
// FONTS
$font-text: 'Sofia Sans', sans-serif;
$font-normal: 300;
$font-bold: 400;
$font-extrabold: 500;

// COLORS
$primary: #3B68AB;
$secondary: #E64320;
$white: #ffffff;
$white_opacity: rgba(255, 255, 255, 0.82);
$text-color: #222;
$blue: #5798EF;

$grey: #727272;
$border-color: #B4B4B4;

$box-shadow:-1px 2px 14px 0px #22222230;
